.rangeLeasing {
   width: 33.3%;
 }
 .rangeTitle {
    color: #575757;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  
  .rangeInput {
    position: relative;
    background-color: #f3f3f4;
    width: 427px;
    height: 68px;
    border-radius: 16px;
    border: none;
    margin-top: 24px;
    margin-right: 32px;
    color: #575757;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 51px;
  }
  
  .rangeInput > .inputLeasing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  .inputLeasing > .input {
    padding: 16px 24px;
    background-color: inherit;
    border: 0;
    width: 100%;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    outline: none;
  }
  
  .inputLeasing > .span {
    font-size: 30px; 
    padding: 16px 24px;
 
  }
  
  .inputLeasing > .input::-webkit-inner-spin-button,
  .inputLeasing > .input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .rangeInput > .slider {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 379px;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
  }
  
  .rangeInput > .slider::-webkit-slider-runnable-track {
    background: #ff9514;
    height: 2px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .rangeInput >.slider::-webkit-slider-thumb {
   background: #ff9514;
   margin-top: -7px;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -11px;
  }
 
  @media (min-width: 1120px) and (max-width: 1439px) {
  .rangeInput {
   width: 320px;
   height: 68px;
   margin-top: 24px;
   margin-bottom: 51px;
 }
 
 .rangeInput > .input {
   width: 320px;
 }
 
 .rangeInput > .slider {
   width: 272px;
 }
  }
 
  @media (min-width: 768px) and (max-width: 1119px) {
   .rangeLeasing {
     width: 696px;
     margin-bottom: 44px;
   }
 
   .rangeLeasing > .rangeInput {
     width: 100%;
   }
 
   .rangeTitle {
     font-size: 16px;
   }
 
   .rangeInput > input[type="range"] {
     width: 648px;
   }
 }
 
 @media (min-width: 320px) and (max-width: 767px) {
   .rangeLeasing {
     margin-bottom: 25px;
   }
 
   .rangeTitle {
     font-size: 14px;
   }
 
   .rangeInput {
     margin-top: 8px;
     width: 280px;
     height: 60px;
     margin-bottom: 25px;
   }
 
   .inputLeasing > .input {
     font-size: 22px;
   }
 
   .inputLeasing > .span {
     font-size: 22px;
   }
 
   .rangeInput > input[type="range"] {
     width: 240px;
   }
 }