.range {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
 }
 
 @media (min-width: 768px) and (max-width: 1119px) {
   .range {
     display: block;
   }
 }
 
 @media (min-width: 320px) and (max-width: 767px) {
   .range {
     display: block;
   }
 }