@import url('../src/fonts/Gilroy/stylesheet.css');
@import url('../src/fonts/Nekst/stylesheet.css');

body {
  font-family: 'Gilroy';
  font-family: 'Nekst';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
